<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>剁手计划</title>
<link rel="stylesheet" href="lib/normalize.css">
<link rel="stylesheet" href="css/main.css">
  </head>
  <body>
<div id="main">
  <div class="navbar">
<h1>双十一活动日程计划表</h1>
  </div>
  <div class="header">
剁手节快乐~~~
  </div>


  <form @submit.prevent="merge" id="task-form">
    <div class="wrap">
      <input v-model="current.title" id="task-input" type="text" autocomplete="off" input placeholder="点击此处添加一个新的活动 按回车键确认☺" >

    <div v-if="current.id" class="detail">


       <textarea v-model="current.desc"></textarea>
       <input v-model="current.alert_at" type="datetime-local" >
       <button class="primary" type="submit">修改并保存</button>
    </div>

  </div>
</form>
  <div class="task-list">
    <div class="wrap">
      <div class="segment-title" style="color:#FF4040">☑ 今日活动</div>

        <task :todo="todo"
               v-if="!todo.completed"
               v-for="(todo,index) in list"
        ></task>
       </div>
  </div>
  <div class="task-list">
    <div class="wrap">
      <div class="segment-title">〼 已结束活动</div>
  <div v-if="todo.completed" v-for="(todo,index) in list" class="item completed" >
    <div  @click="action('toggle_complete',todo.id)" class="toggle-complete">✔</div>
     {{todo.title}}
    <button @click="toggle_complete(todo.id)">未结束</button>
    <button @click="remove(todo.id)">删除</button>

      </div>

  </div>
  </div>
  </div>
  <audio id="alert-sound"><source src="./sound/1.mp3"></audio>
  <template id="task-tpl">
    <div  class="item">
      <div  @click="action('toggle_complete',todo.id)" class="toggle-complete"></div>
      <span class="title">{{todo.title}}</span>
      <button @click="action('remove',todo.id)">删除</button>
      <button @click="action('set_current',todo)">修改</button>
      <button @click="action('toggle_detail',todo.id)">查看详情</button>
      <div v-if="todo.show_detail" class="detail">
  {{todo.desc||"暂无详细说明"}}
      </div>
    </div>
  </template>

    <img src="img/1.jpg" alt="" style="margin-left:38%">


  <script src="lib/vue.js"> </script>
  <script src="js/myStorage.js"></script>
  <script src="js/main.js"> </script>
  </body>
</html>
