<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>???</title>
<link rel="stylesheet" href="lib/normalize.css">
<link rel="stylesheet" href="css/main.css">
  </head>
  <body>
<div id="main">
  <div class="navbar">
<h1>大标题</h1>
  </div>
  <div class="header">
副标题
  </div>
  <form @submit.prevent="add" id="task-form">
    <div class="wrap">
      <input v-model="current.title" id="task-input" type="text">
      <button type="submit">submit</button>
  </div>
</form>
  <div class="task-list">
    <div class="wrap">
        未完成
    <div v-for="todo in list" class="item">
      {{todo.title}}
      <button @click="remove(index)">删除</button>
    </div>
  </div>
  </div>
  <div class="task-list">
    <div class="wrap">
  已完成

    <div class="complete item">11111</div>
  </div>
  </div>

  </div>
  <script src="lib/vue.js"> </script>
  <script src="js/myStorage.js"></script>
  <script src="js/main.js"> </script>
  </body>
</html>
